name: Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: npm ci
        working-directory: example
      - run: npm run build
      - run: npm run test
      - run: npm run test:integration
      - name: NPM package release
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
      - name: Print version update
        if: steps.publish.outputs.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
      - name: Github release
        uses: softprops/action-gh-release@v2
        if: steps.publish.outputs.type != 'none'
        with:
          name: Release v${{ steps.publish.outputs.version }}
          tag_name: v${{ steps.publish.outputs.version }}
          prerelease: ${{ contains(github.head_ref, 'alpha') }}
